body {
	font-family: Arial;
  line-height: 1.3;
}

/* Centered the headers */
h1, h2 {
  text-align: center;
}

.title {
  text-align: center;
}

#infoair, #distance {
  text-align: center;
}

.vis-holder {
  border-radius: 20px;
  border-width: 6px;
  border-style: double;
  border-color: darkseagreen;
  background-color: aliceblue;
  padding: 5px;
}

#carbonvistable {
  border-radius: 10px;
  border-style: groove;
  background-color: lightblue;
  padding: 12px;
}

#title {
  text-align: center;
  text-decoration: underline;
}

#infotable {
  margin-left: auto;
  margin-right: auto;
}

/* make text be in a nice narrow column */
.content-column {
  max-width: 850px;
  margin: 35px auto;
}

/* Use FlexBox to create two columns and customize */
/* visualization be in full-width and full-height */
.vis-holder {
  display: flex;
  flex-direction: row;
}

/* set width of columns to be even */
.left {
  flex: 60%;
}

.right {
  flex: 40%;
}

#airportvis {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 500px;
}

.tooltip {
  position: absolute;
  background-color: rgb(195, 205, 245);
  border: solid;
  padding: 5px;
}


