body {
	font-family: Arial;
  line-height: 1.5;
  background-color: #ddebf2;
  color: #052f5c;
  padding: 60px;
  background-image: url('plane.png');
}

/* Centered the headers */
h1, h2 {
  text-align: center;
}


.title {
  text-align: center;
}

/* center the titles of visualizations */
#infoair, #distance {
  text-align: center;
}

/* add border to each section */
.section{
  margin: 10px 0;
  background-color: aliceblue;
  padding: 10px; 
  color: #22406a;
  border-style:solid;
  border-color: #F0FFFF;
  border-radius: 15px;
  opacity: 0.85;
}

/* style of title */
#theader {
  border-radius: 20px;
  background-color: #586880;
  padding: 5px;
  color: #f2f4fa;
}

/* style of section names */
#header {
  border-radius: 20px;
  background-color: #819dc5;
  padding: 5px;
  color: #f2f4fa;
}

/* style of vis2 subtitle */
#subtitle {
  font-size: 15px;
  text-align: center;
  text-decoration: underline;
}

/* style of vis2 table ('This is equivalent to:...') */
#infotable {
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: lightblue;
  padding: 12px;
}

/* make text be in a nice narrow column */
.content-column {
  max-width: 1400px;
  margin: 35px auto;
}

/* Use FlexBox to create two columns and customize */
/* visualization be in full-width and full-height */
.vistext-holder {
  max-width: 1400px;
  margin: auto;
  background-color: aliceblue;
  color: #22406a;
  border-style:solid;
  border-color: #F0FFFF;
  border-radius: 15px;
  opacity: 0.85;
}

.vis-holder {
  display: flex;
  flex-direction: row;
  margin: auto;
}

/* set width of columns to be even */
.left {
  flex: 65%;
}

.right {
  flex: 35%;
}

/* style of vis1 */
#airportvis {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 500px;
}

/* style of tooltip of vis1 */
.tooltip {
  position: absolute;
  background-color: rgb(195, 205, 245);
  border: solid;
  border-color: blue;
  padding: 5px;
}

/* style of tooltip of vis2 */
.tooltip2 {
  position: absolute;
  background-color: rgb(195, 205, 245);
  border: solid;
  border-color: blue;
  padding: 5px;
}

.video {
  text-align: center;
}